@{
  Layout = null;

  var sharedKey = (HttpContext.Current.Request.QueryString["sharedKey"] ?? string.Empty).Trim();
}

<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/Styles/Site.min.css" rel="stylesheet" />
  <meta name="author" content="Wolfgang Ziegler">
  <title>Get My Ip</title>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>


  <div class="container">
    <div class="header">
      <h3 class="text-muted">Get My IP</h3>
    </div>


    <div class="jumbotron">
      <form class="form-sendkey" role="form">
        <label>Enter a shared key to publish or retrieve the IP address of a remotely connected host.</label>

        <div class="btn-group" data-toggle="buttons" id="option_modes">
          <label class="btn btn-primary active">
            <input checked type="radio" name="options" id="option_publish" data-value="0">Publish
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option_retrieve" data-value="1">Retrieve
          </label>
        </div>

        <input id="textKeyForIp" type="password" class="form-control" placeholder="shared key" required />
        <button id="btnIp" class="btn btn-lg btn-success btn-block" type="button">Go!</button>
        <h2 id="ip">...</h2>
      </form>
    </div>

    <div class="footer">
      <p>&copy; <a href="http://wolfgang-ziegler.com">Wolfgang Ziegler</a> @DateTime.Now.Year</p>
    </div>

  </div>

  <script src="/Scripts/SignalR.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

</body>

</html>



