@{
  Layout = null;

  var sharedKey = (HttpContext.Current.Request.QueryString["sharedKey"] ?? string.Empty).Trim();
}

<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <link href="~/Styles/Site.min.css" rel="stylesheet" />
  <title>Get My Ip</title>
</head>

<body>

  <h1 id="ip" data-sharedKey="@sharedKey">IP Address</h1>

  <script src="/Scripts/SignalR.min.js"></script>

</body>

</html>